@media(min-width:670px){
#header{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    height:365px;
    width:90%;
    background-color: aqua;

}
#nav{
    display: flex;
    justify-content: space-between;
}
}